# C++ binaries
*.o

# Verilog simulation binaries
*.vvp
sim/

# GTK wavform dumpfiles
*.vcd

# Generated log files
log/

# VS code configurations
.vscode/

# Assembly linker outputs, object files, binaries and hex outputs
asm-test/*.o
asm-test/*.elf
asm-test/*.bin
asm-test/*.hex