[submodule "src/datapath/alu_src/div_src"]
	path = src/datapath/alu_src/div_src
	url = https://github.com/Roh-13/Verilog-Divider
[submodule "src/datapath/alu_src/mul_src"]
	path = src/datapath/alu_src/mul_src
	url = https://github.com/ninzzd/mul32-dadda-verilog.git
